body
  font-family: 'Courier New', courier, sans-serif
.priority-table
  td
    padding-top: 0 !important
    padding-bottom: 0 !important
  th
    min-width: 140px

.red
  color: #dd0022

.attr-input-group
  width: 10em
  margin: 0 15px
  display: inline-block