body, body *
  font-family: 'Anonymous Pro', "Courier New", courier, monospace

.priority-table
  td
    padding-top: 0 !important
    padding-bottom: 0 !important
  th
    min-width: 130px

.red
  color: #dd0022

.btn.btn-sm .glyphicon.glyphicon-remove
  top: 3px

.attr-input-group
  width: 10em
  margin: 0 15px
  display: inline-block

input
  &:disabled, &:read-only
    background-color: #d8d8d8 !important

.form-horizontal label.control-label
  padding-top: 3px